.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 8px;
  width: 100%;
  max-width: 650px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  border-bottom: 1px solid #eee;
}

.title {
  font-size: 18px;
  font-weight: 600;
  /* color: #333; */
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

/* .closeButton img {
  width: 16px;
  height: 16px;
} */

.content {
  padding: 24px;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.input::placeholder {
  color: #999;
}

.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  resize: none;
  min-height: 120px;
}

.textarea::placeholder {
  color: #999;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #666;
}

.footer {
  padding: 16px 24px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 0px 8px 0px #2c3e5033;
}

.saveButton {
  background: #ee3124;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.saveButton:hover {
  background: #d42d21;
}
